@using HairSalon.Models;

<h1>Hair Salon</h1>
<h2>Stylist: @Model["stylist"].GetName()</h2>
<hr />

@if (@Model["stylistClients"].Count != 0)
{
  <h4>Here are all the clients booked with this stylist:</h4>
  <ul>
    @foreach (var client in @Model["stylistClients"])
    {
      <li>@client.GetDescription()</li>
    }
  </ul>
}

<h4>Add a client to this stylist:</h4>

<form action='/stylists/@Model["stylist"].GetId()/clients/new' method='post'>
  <label for='clientId'>Select A Client</label>
  <select id='clientId' name='clientId' type='text'>

    @foreach (var client in @Model["allClients"])
    {
      <option value='@client.GetId()'>@client.GetDescription()</option>
    }

  </select>
  <button type='submit'>Add</button>
</form>

<p><a href="/">Return to Main Page</a></p>