@using HairSalon.Models;

<h1>Hair Salon</h1>
<hr>
<h2>Stylist:@Model["stylist"].GetName()</h2>
<hr />
<a href='/stylists/@Model["stylist"].GetId()/edit'>Edit Stylist Name</a>
<hr />
<a href='/stylists/@Model["stylist"].GetId()/delete'>Delete Stylist</a>
<hr />

@if (@Model["stylistClients"].Count != 0)
{
  <h4>Here are all the clients booked with this stylist:</h4>
  <ul>
    @foreach (var client in @Model["stylistClients"])
    {
      <li>@client.GetDescription()</li>
    }
  </ul>
}
<h4>Add a client to this stylist:</h4>
<form action='/stylists/@Model["stylist"].GetId()/clients/new' method='post'>
  <label for='clientId'>Select A Client</label>
  <select id='clientId' name='clientId' type='text'>
    @foreach (var client in @Model["allClients"])
    {
      <option value='@client.GetId()'>@client.GetDescription()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>
<hr>


@if (@Model["stylistSpecialties"].Count != 0)
{
  <h4>Specialties:</h4>
  <ul>
    @foreach (var specialty in @Model["stylistSpecialties"])
    {
      <li>@specialty.GetStyle()</li>
    }
  </ul>
}
<h4>Add a specialty to this stylist:</h4>
<form action='/stylists/@Model["stylist"].GetId()/specialties/new' method='post'>
  <label for='specialtyId'>Select A Specialty</label>
  <select id='specialtyId' name='specialtyId' type='text'>
    @foreach (var specialty in @Model["allSpecialties"])
    {
      <option value='@specialty.GetId()'>@specialty.GetStyle()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>
<hr>



<hr>
<h4><a href="/clients/new">Add new client</a></h4>
<h4><a href="/stylists">View All Stylists</a></h4>
<h4><a href="/">Home</a></h4>