@using HairSalon.Models;

<h1>Hair Salon</h1>
<hr>

<h2>Client: @Model["selectedClient"].GetDescription()</h2>
<hr />
EDIT CLIENT BUTTON HERE
<hr />
DELETE CLIENT BUTTON HERE
<hr />

@if (@Model["clientStylists"].Count != 0)
{
  <h4>This client has these stylists:</h4>
  <ul>
    @foreach (Stylist stylist in @Model["clientStylists"])
    {
      <li>@stylist.GetName()</li>
    }
  </ul>
}

<h4>Add a stylist to this client:</h4>

<form action='/clients/@Model["selectedClient"].GetId()/stylists/new' method='post'>
  <label for='stylistId'>Select a Stylist</label>
  <select id='stylistId' name='stylistId' type='text'>
    @foreach (var stylist in @Model["allStylists"])
    {
      <option value='@stylist.GetId()'>@stylist.GetName()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>

<hr>

<h4><a href="/clients">View All Clients</a></h4>
<h4><a href="/">Home</a></h4>